// Poppins & roboto from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

//Font Variables
$font-primary:'Poppins', sans-serif;
$font-secondary:'Roboto', sans-serif;

// CUSTOM FONTS
*{
    font-family: $font-primary;
}
.h1{
    font-family: $font-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;
    letter-spacing: -1.5px;
}
.h2{
font-family: $font-primary;
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 90px;
}
.h3{
font-family:$font-primary;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 72px;
}
.h4{
font-family: $font-primary;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 51px;
letter-spacing: 0.25px;
}
.h5{
font-family: $font-primary;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
}
.h6{
font-family: $font-primary;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.15px;
}
.subtitle-1{
font-family: $font-secondary;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
}
.subtitle-2{
font-family: $font-secondary;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.1px;
}
.body-1{
font-family:$font-secondary;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.01em;
}
.body-2, label{
font-family: $font-secondary;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.25px;
}
label{
font-weight: 500;
}
.caption{
font-family: $font-secondary;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.4px;
}
.text-button, .icon-button{
font-family: $font-primary;
font-style: normal;
font-weight: 600;
font-size: 14px;
letter-spacing: 0.75px;
text-transform: uppercase;
text-decoration: none;
}
